:root {
  font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
  line-height: 1.4;
  font-weight: 300;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  min-height: 100vh;
}
